* {
  /* font-family:  Gilroy-Bold; */
}

.body {
  margin: 0;
  background: #fff;
}
.header {
  height: 85px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  max-width: 940px;
  width: 98%;

  background: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu.active {
  color: #070707;
  /* font-weight: 900; */
}
.nav-menu {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 32px;
  margin-top: 31px;
}

hr {
  width: 100%;
  height: 0;
  stroke-width: 1px;
  stroke: #828282;
}



/* mobileHeader */
.mobileHeader {
  position: absolute;
  right: 30px;
  top: 68px;
  display: none;
  width: 33px;
  height: 20px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;

}
.mobileHeader .line{
  width: 100%;
  height: 4px;
  background: #070707;

}